<!DOCTYPE html>
<html>
  <head>
    <title>Basic Template</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
	  <h1 id="main-title">WMATA train tracker</h1>
    <div id="react-main-mount">
      <%- html %>
    </div>

	<script src="/main.js"></script>

  </body>
</html>