<!DOCTYPE html>
<html>
  <head>
    <title>Basic Template</title>
  </head>
  <body>
    <h1 id="main-title">WMATA train tracker</h1>
    <p>Determine the location of trains on a WMATA.  Choose a line below.</p>

    <div>
      <a href="/line/RD">Red</a>
      <a href="/line/YL">Yellow</a>
      <a href="/line/BL">Blue</a>
      <a href="/line/GR">Green</a>
      <a href="/line/OR">Orange</a>
      <a href="/line/SV">Silver</a>
    </div>
  </body>
</html>