<!DOCTYPE html>
<html>
  <head>
    <title>Basic Template</title>
  </head>
  <body>
    <h1 id="main-title">WMATA train tracker</h1>
    <div id="react-main-mount">
      <%- html %>
    </div>

    <script>window.line_code = '<%- code %>';</script>
    <script src="/bundle--vendor.js"></script>
    <script src="/bundle--components.js"></script>
  </body>
</html>