<!DOCTYPE html>
<html>
  <head>
    <title>Basic Template</title>
  </head>
  <body>
    <h1 id="main-title">WMATA Train Tracker</h1>
    <p>Determine the location of trains on a WMATA.  Choose a line below.</p>

    <div class="index">
      <a href="/line/RD" class="track_link_RD">Red</a>
      <a href="/line/YL" class="track_link_YL">Yellow</a>
      <a href="/line/BL" class="track_link_BL">Blue</a>
      <a href="/line/GR" class="track_link_GR">Green</a>
      <a href="/line/OR" class="track_link_OR">Orange</a>
      <a href="/line/SV" class="track_link_SV">Silver</a>
    </div>

    <script src="/bundle--vendor.js"></script>
    <script src="/bundle--components.js"></script>
  </body>
</html>
