<!DOCTYPE html>
<html>
  <head>
    <title>Basic Template</title>
  </head>
  <body>
    <h1 id="main-title">WMATA train tracker</h1>
    <p><a href="/">Return to selection</a></p>
    <div id="<%- container %>">
      <%- html %>
    </div>

    <script>window.line_code = '<%- code %>';</script>
    <script src="/bundle--vendor.js"></script>
    <%- scripts %>
  </body>
</html>