@import '_global.scss';

.track {
  width: 445px;
  margin: 0 auto;

  &__entry {
    clear: both;
    display: block;
    border-radius: 5px;

    &:hover div {
      background-color: #CCC;
    }

    > div {
      transition: background-color 200ms linear;

      padding: 10px 5px;
      float: left;
      display: block;
    }
    &:first-child div {
      border-top: 0;
    }

    &__flag {
      width: 100px;

      &.down {
        i:first-child {
          margin-left: 55px;
        }
      }

      i {
        margin: 0 5px;
      }
    }
    &__label {
      width: 325px;
    }
  }
}

.disclaimer {
  clear: both;
  font-size: 70%;
  text-align: center;
}

/* Explicitly used to show a train approaching a station. */
.approaching {
  color: #ABABAB;
}
