@import '_global.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.track {
  width: 445px;
  margin: 0 auto;

  &__entry {
    clear: both;
    display: block;

    &:hover div {
      background-color: #CCC;
    }

    > div {
      transition: background-color 200ms linear;

      border-top: 1px solid #CCC;
      padding: 10px 5px;
      float: left;
      display: block;
    }
    &:first-child div {
      border-top: 0;
    }

    &__flag {
      width: 25px;
    }
    &__label {
      width: 400px;
    }
  }
}

/* Explicitly used to show a train approaching a station. */
.approaching {
  color: #ABABAB;
}
