@import '_global.scss';

.track {
  width: 445px;
  margin: 0 auto;

  &__color {
    &_RD i { color: #bf1138; }
    &_YL i { color: #f9d716; }
    &_BL i { color: #0a93d6; }
    &_OR i { color: #dd8703; }
    &_GR i { color: #00ae51; }
    &_SV i { color: #a1a3a1; }
  }

  &__entry {
    clear: both;
    display: block;

    &:hover div {
      background-color: #CCC;
      transition: background-color 200ms linear;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    > div {
      padding: 10px 5px;
      float: left;
      display: block;
    }
    &:first-child div {
      border-top: 0;
    }

    &__flag {
      width: 100px;

      &.down {
        i:first-child {
          margin-left: 55px;
        }
      }

      i {
        margin: 0 5px;
      }
    }
    &__label {
      width: 325px;
    }
  }
}

.disclaimer {
  clear: both;
  font-size: 70%;
  text-align: center;
}

/* Explicitly used to show a train approaching a station. */
.approaching {
  opacity: 0.2;
}
